extends layout

block content
  p Create a room
  form(name="createRoom", action="/createRoom", method="post")
    input(type="text", value="#{token}", name="token")
    input(type="text", value = "#{roomId}", name="roomId")
    input(type="submit", value="createRoom")
  p Deactivate a room
    form(name = "deactivateRoom", action = "/deactivate", method = "post")
      input(type = "text", value ="code", name = "roomCode")
      input(type ="submit", value="Deactivate Room")
    form(name = "activateRoom", action = "/activate", method = "post")
      input(type = "text", value ="code", name = "roomCode")
      input(type ="submit", value="activate Room")
  p Make a request
  form(name="submitRequest", action="/api/request", method="post")
    input(type = "text", value ="#{code}", name = "code")
    input(type="text", value="#{body}", name="body")
    input(type="text", value ="#{room}", name="room")
    input(type="text", value="#{phone}", name="phone")
    input(type="submit", value="submit Request")
  h1 Active Rooms
  each room in rooms
    h3 Room code: #{room.code}
    b active: #{room.active}
    br
    b room id: #{room._id}
    ul
      li
        b|owner Id:
        |  #{room.owner.ownerId}
      li
        b|owner token:
        |  #{room.owner.token}
      li
        b|owner email:
        |  #{room.owner.email}
      li
        b|owner id:
        |  #{room.owner._id}
    h3 requests
    each request in requests
      if (JSON.stringify(request.room) == JSON.stringify(room._id))
        ul
          li
            b| request ID
            |   #{request.room}
            br
            ul
              li
                b| request user phone
                |   #{request.user.phone}
