extends layout

block content
  p Create a room
  form(name="createRoom", action="/createRoom", method="post")
    input(type="text", value="#{token}", name="token")
    input(type="text", value = "#{roomId}", name="roomId")
    input(type="submit", value="createRoom")
  p Make a request
  form(name="submitRequest", action="/api/request", method="post")
    input(type="text", value="#{body}", name="body")
    input(type="text", value ="#{room}", name="room")
    input(type="text", value="#{phone}", name="phone")
    input(type="submit", value="submitRequest")
  h1 Active Rooms
  each room in rooms
    p=room.owner
    p Owner Id: #{room.owner.ownerId}
    p token: #{room.owner.token}
    p email: #{room.owner.email}
    p id: #{room.owner._id}
    p active: #{room.active}
    p code: #{room.code}
